.headerStyled {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #242323;
  padding-top: 26px;
  padding-bottom: 26px;
}

.linkStyled {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #959595;
}

.mainStyled {
  display: flex;
  align-items: center;
  justify-content: center;
}
